$fade-primary-color: rgba(29, 161, 240, 0.7);
$hover-primary-color: rgba(29, 161, 240, 1);
$twitter-primary-color: rgba(29, 161, 242, 1);
$button-fade-primary-color: rgb(29, 155, 240, 0.7);
$button-fade-secondary-color: rgb(29, 155, 240, 0.2);
$button-hover-primary-color: rgb(29, 155, 240, 1);
$border-primary-color: rgba(29, 161, 242, 1);
$background-white: rgba(255, 255, 255, 1);
$error-color:  rgba(255, 0, 0, 0.7);
