.current-user-main-container {
    display: flex;
    position: relative;
    max-width: 1500px;
    width: 100vw;
    height: 100%;
    padding: 0 10px;
    height: 100%;
    padding-right: 10px;
    flex: 1;
}

.current-user-sidebar-container {
    display: flex;
    // height: 100%;
    padding-right: 10px;
    padding-top: 10px;
    flex-direction: column;
    border-right: 1px solid var(--twitterBlue);
    max-width: 250px;
    transition: all 0.2s ease-in-out;
    flex: 0.4 ;
}

::-webkit-scrollbar {
    display:none;
}

.current-user-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    padding-left: 10px;
    flex: 1;
}

.backdrop-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 300px;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.current-user-picture-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 300px;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
}

.current-user-images-container {
    display: flex;
    position: relative;
    // min-height: 200px;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    flex: 1;
    border: 5px solid var(--white);
}

.current-user-backdrop {
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.spinner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.3);
}

.current-user-profile-image {
    position: absolute;
    bottom: -75px;
    left: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--white);
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.current-user-edit-button {
    position: absolute;
    bottom: -50px;
    right: 5px;
    width: auto;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.slideLeft {
    animation: fromRight 0.3s ease-in-out;
}

.cancel-edit-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px;
    margin: 0;
    border: none;
    color: var(--twitterBlueFade);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.cancel-edit-button:hover {
    color: var(--twitterBlue);
    cursor: pointer;
}

.cancel-edit-button:active {
    transform: scale(1.2,1.2);
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 100%;
    background-color: var(--blackOverlay);
}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,1);
    width: 100%;
    align-items: center;
    height: auto;
    position: absolute;
    top: 0;
    overflow: hidden;
    box-sizing: content-box;
}

.name-input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5px 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.name-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--twitterBlue);
    max-width: 110px;
    width: 100%;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.profile-image-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--twitterBlue);
    max-width: 110px;
    width: 100%;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.backdrop-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--twitterBlue);
    max-width: 110px;
    width: 100%;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.profile-user-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.first-name-input {
    width: 100%;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--twitterBlue);
}

.first-name-input:focus {
    outline: none;
}

.last-name-input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
    width: 100%;
    height: auto;
}

.last-name-input {
    width: 100%;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--twitterBlue);
    font-family: "Poppins", sans-serif;
}


.last-name-input:focus {
    outline: none;
}

.profile-image-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.profile-contents-container {
    display: flex;
    flex-direction: row;
    position: relative;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.profile-backdrop-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}
.image-input-url {
    display: flex;
    height: auto;
    width: 100%;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    border: none;
    border-bottom: 1px solid var(--twitterBlue);
    font-weight: 500;
}

.image-input-url:focus {
    outline: none;
}

.image-input-comp {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    padding: 5px 0px;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}

.image-input-comp:hover {
    background-color: var(--twitterBlueFade);
    cursor: pointer;
    color: var(--white);
}

.toggle-profile-type {
    max-width: 150px;
    padding: 10px;
    width: auto;
    height: 100%;
    margin-left: 10px;
    font-weight: 700;
    background-color: var(--twitterBlueFade);
    border: none;
    color: var(--white);
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}

.toggle-profile-type:hover {
    cursor: pointer;
    background-color: var(--twitterBlue);
}

.background-image-input {
    width: 100%;
    padding: 3px 10px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--twitterBlue);
    transition: all 0.2s ease-in-out;
}

.background-image-input:focus {
    outline: none;
}

.bio-input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
    width: 100%;
    height: auto;
}

.bio-input {
    padding: 5px 10px;
    width: 100%;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--twitterBlue);
}

.bio-input:focus {
    outline: none;
}

.backdrop-imageurl-container {
    display: flex;
    flex-direction: row;
    position: relative;
    // justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: auto;
}

.backdrop-comp-image-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
    width: 100%;
    height: auto;
}

.current-user-widget-container {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    border-left: 1px solid var(--twitterBlue);
    padding: 0px 10px;
    margin-top: -10px;
  
}

.search-people-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--blackOverlay);
    margin-top: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    font-size: 15px;
    border: none;
    font-weight: 500;
    padding: 5px 5px 5px 10px;
    font-family: 'Poppins', sans-serif;
}

.search-input:focus {
    outline: none;
}

.profile-widget-container {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    height: 100vh;
}

.profile-widget-contents {
    display: flex;
    flex-direction: column;
    background-color: var(--blackOverlay);
    height: 100%;
    flex: 1;
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
    padding: 0px 10px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.sliding-down {
    animation: slidingDown 0.4s ease-in-out;
    padding: 10px 0px;
    transition: all 0.3s ease;
}

.sliding-up {
    animation: slidingUp 0.3s ease;
    height: 0%;
}

.hide-container {
    opacity: 0;
    pointer-events: none;
    animation: hide 0.1s ease-in-out;
}

.submit-edit-container {
    display: flex;
    margin-bottom: 10px;
}

.details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.details-container p {
    padding: 0px;
    margin: 3px 0px;
    font-size: 0.8em;
    font-weight: 700;
}


@media screen and (max-width: 1000px){
    .current-user-sidebar-container {
      max-width: 200px;
    }
  
}

@media screen and (max-width: 900px){
    .current-user-picture-container {
        display: flex;
        height: 40vh;
        flex: 1 1;
        box-sizing: border-box;
    }
    .current-user-picture-container {
        margin-right: 0px;
    }
}

@media screen and (max-width: 660px){
    .current-user-sidebar-container {
        min-width: 70px !important;
        flex: 0.2;
    }
    .current-user-picture-container {
        padding: 0px;
    }
    .current-user-profile-image {
        width: 90px;
        height: 90px;
        bottom: -35px;
    }
}

@media screen and (max-width: 480px){
    .current-user-picture-container {
        padding: 0px;
    } 
    .backdrop-imageurl-container {
        flex-direction: column;
    }
    .profile-contents-container {
        flex-direction: column;
    }
    .current-user-edit-container {
        right: 5px;
    }
    .profile-image-container {
        flex-direction: column;
        align-items: flex-start;
    }
    // .image-input-url {
    //     margin-left: 0px;
    // }
    // .image-input-comp {
    //     padding: 0px;
    //     margin-left: 0px;;
    //     // margin-top: 10px;
    // }
    .profile-image-text {
        margin: 5px 0px 10px 0px;
    }
    .backdrop-text {
        margin: 5px 0px 10px 0px;
    }
}


@keyframes slidingDown {
    0% {
        height: 0px;
        opacity: 1;
    }
    100% {
        height: 300px;
    }
}

@keyframes slidingUp {
    0% {
        height: 300px;
        opacity: 1;
        padding: 10px 0px;
    }
    100% {
        height: 0px;
        padding: 0px;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}