
.follow-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: var(--gradient);
    transition: all 0.5s ease-in-out ;
    animation: fromRight 0.5s ease-in-out;
}

.search-people-follow-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--blackOverlay);
    padding: 5px 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.follow-contents {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    max-width: 450px;
    height: 100vh;
    flex: 0.6;
    transition: all 0.2s ease-in-out;
}

.exit-container {
    display: flex;
    position: absolute;
    width: auto;
    top: 18px;
    right: -40px;
    transition: all 0.2s ease-in-out;

}
.exit-button {
    display: flex;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.exit-button:hover {
    transform: scale(1.2,1.2);
    cursor: pointer;
    color: var(--white);
}

.search-news-container {
    display: flex;
    flex-direction: row;
    background-color: var(--blackOverlay);
    padding: 20px 10px;
}

.search-icon {
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
    padding: 3px;
    background-color: var(--white);
}

.search-input-follow {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    border: none;
}
.search-input-follow:focus {
    outline: none;
}

@keyframes fromRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .follow-contents {
        flex: 0.7;
    }
}

@media screen and (max-width: 1000px) {
    .search-input-follow { 
        font-size: 0.8rem;
    }
}