
.news-overlay-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    // background-color: rgba(29,161,210,1);
    background: var(--gradient);
    transition: all 0.5s ease-in-out ;
    animation: fromRight 0.5s ease-in-out;
    flex-direction: row;
    
}

.news-main-contents {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.news-overlay-contents {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0.6;
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.news-search-container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: var(--blackOverlay);
    padding: 10px 10px;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    transition: all 0.2s ease-in-out;
}

.latest-news-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    background-color: var(--blackOverlay);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    transition: all 0.2s ease-in-out;
}

.exit-news-container {
    display: flex;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    transition: all 0.2s ease-in-out;
}

.exit-news-button {
    transition: all 0.3s ease-in-out;
}

.exit-news-container:hover {
    cursor: pointer;
    .exit-news-button {
        color: var(--white);
        transform: scale(1.2,1.2);
    }  
}


@keyframes fromRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .news-overlay-contents {
        flex: 0.85;
    }

}

@media screen and (max-width: 400px) {
    .news-overlay-contents {
        flex: 0.85;
    }
}