
.other-user-home-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    flex: 1;
}

.sidebar-buttons-container {
    display: flex;
    height: auto;
    padding-right: 10px;
    padding-top: 10px;
    flex-direction: column;
    border-right: 1px solid var(--twitterBlue);
    max-width: 300px;
    min-width: 170px;
    width: 100%;
    flex: 0.3;
    transition: all 0.2s ease-in-out;
}

.other-user-feed-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--blackOverlay2);
    margin: 10px 10px;
    overflow-y: scroll;
    box-sizing: content-box;
    // margin-bottom: 80px;
    // padding: 0px 20px;
}

.other-user-profile-container {
    padding-bottom: 50px;
}

.other-user-widget-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0.4;
    // max-width: 300px;
    padding: 0px 10px;
    // padding-top: 10px;
    border-left: 1px solid var(--twitterBlue);
}

.other-user-images-container {
    display: flex;
    position: relative;
    max-height: 250px;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    flex: 1;
    flex-direction: column;
}

.other-user-backdrop {
    width: 100%;
    height: 100%;
    // border: 5px solid var(--white);
}

.other-user-contents-container {
    display: flex;
    position: relative;
    margin-top: -70px;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-sizing: content-box;
}

.other-user-profile-image {
    display: flex;
    margin-left: 15px;
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--white);
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.other-user-bio-container {
    display: flex;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    // background-color: rgba(128, 128, 128, 0.3);
    margin-top: 60px;
    transition: all 0.2s ease-in-out;
}

.other-user-bio {
    display: flex;
    position: absolute;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: var(--white);
}

.other-user-feed {
    padding: 30px 20px;
    height: fit-content;
    width: 100%;
    margin-bottom: 80px;
}

.other-user-widget {
    display: flex;
    flex-direction: column;
    background-color: var(--blackOverlay);
    padding: 0px 10px;
    // border-left: 1px solid var(--twitterBlue);
}

.other-user-news-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: wheat;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

.other-user-follows-container {
    display: flex;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
}

.news-widget-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--blackOverlay);
}

.follows-widget-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}

.no-tweets-msg {
    color: var(--white);
}

@media screen and (max-width: 660px){ 

    .other-user-feed {
        padding: 30px 10px;
    }

    .sidebar-buttons-container {
        width: 100%;
        height: auto;
        flex: 0.1 !important;
        width: 100%;
        min-width: 90px;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 550px){ 
    .other-user-contents-container { 
        margin-top: -40px;
    }
    .other-user-profile-image {
        height: 90px;
        width: 90px;
    }
    .other-user-bio-container { 
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px){ 
    .sidebar-buttons-container {
        min-width: 70px;
    }
}