
.icon-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.tweet-icon-container {
    display: flex;
    flex-direction: row;
    .tweet-icon {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        transition: all 0.15s ease-in-out;
        padding: 1px 3px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
     }   
}

.tweet-icon-container:hover {
    cursor: pointer;
    .tweet-icon {
        background-color: var(--twitterBlueTwoFade);
        color: var(--white);
    }
}

.tweet-icon-unselected {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    transition: all 0.15s ease-in-out;
    padding: 1px 3px;
    border-radius: 50%;
    width: 25px;
}
   
.icon-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}