

.user-widget-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0.4;
    height: auto;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
    border-left: 1px solid var(--twitterBlue);
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.user-widget-news-container {
    display: flex;
    padding: 0px 10px;
    background-color: var(--blackOverlay2);
    flex-direction: column;
    margin-top: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.user-widget-search-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}